<html>
<head>
    <!-- BEGIN Pre-requisites -->
   
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
    <!-- END Pre-requisites -->
    <style type="text/css">
        .img-thumbnail {
           margin: 10px;
        }

        .img-thumbnail:hover {
          border: 1px solid blue;
          cursor: pointer;
        }
        a.active {
            text-decoration: undel
        }
        #signOut {
          display: none;
        }
    </style>
</head>
<body>
<div ng-app="app">
    <div ng-controller="SignIn">
        <div class="jumbotron text-center">
            <h1><a href="" ng-click="restart()">Persistent Youtube</a></h1>
            <div style="margin: auto; width:100px; ">
                <button type="button" class="btn" ng-click="auth()">{{buttonText}}</button>
            </div>
        </div>
    </div>
    <div class="container" ng-view></div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="app.js"></script>
    <script src="services.js"></script>
    <script src="controllers.js"></script>
    <script src="directives.js"></script>

</body>
</html>